.student-dashboard {
    padding: 20px;
    text-align: center;
  }
  
  .student-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    border: 2px solid black;
  }
  